printerCounterOUTPUT
foundprinters
src/foundprinters
src/settings.yaml
output
allprinters
notused
.notused
allprinters/*
!allprinters/allprinters/_snmpWalkBASH_ip.sh
!allprinters/allprinters/_snmpWalkIP.py
